<template>
    <div class="timer">
        <div class="timer__counter" v-bind:class="{ 'timer__counter_hide': !timer }">{{ label }}</div>
        <button class="timer__btn" v-if="!timer" @click="setTimer">Перезапустить</button>
        <audio ref="audio" volume="0.5">
            <source src="../assets/teddy_alert.mp3" type="audio/mpeg" />
            <source src="../assets/teddy_alert.ogg" type="audio/ogg" />
        </audio>
    </div>
</template>

<script>
const UPDATE_TIME = 100;

export default {
    props: {
        timeOut: {
            type: Number,
            required: true
        }
    },
    data: function() {
        return {
            timer: null,
            label: ''
        };
    },
    mounted() {
        this.setTimer();
    },
    destroyed() {
        this.deleteTimer();
    },
    methods: {
        loop() {
            if (Date.now() >= this.timer) {
                this.deleteTimer();
                this.ding();
                return;
            }
            this.label = this.formatTimer();
            this.timerId = setTimeout(this.loop, UPDATE_TIME);
        },

        ding() {
            this.$refs.audio.play();
        },

        needTimer() {
            return !!this.timeOut;
        },

        setTimer() {
            if (!this.needTimer()) {
                return;
            }
            this.timer = this.getTimer();
            this.timerId = setTimeout(this.loop, UPDATE_TIME);
        },

        deleteTimer() {
            if (this.timerId) {
                clearTimeout(this.timerId);
            }
            this.timer = null;
        },

        getTimer() {
            return this.timeOut * 1000 + Date.now();
        },

        formatTimer() {
            if (!this.timer) {
                return '';
            }

            const delta = this.timer - Date.now();
            let s = Math.floor(delta / 1000);
            let ms = Math.floor((delta / 1000 - s) * 100)
            return `${s.toString().padStart(2, '0')}:${ms.toString().padStart(2, '0')}`
        }
    }
};
</script>


<style lang="scss">
.timer {
    text-align: right;
    min-width: 50px;
    position: relative;
    &__counter {
        &_hide {
            visibility: hidden;
        }
    }
    &__btn {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        font-size: 0;
        width: 50px;
        height: 50px;
        background-image: url("../assets/refresh-arrow.png");
        background-size: 15px 15px;
        background-position: center center;
        background-repeat: no-repeat;
        border: 0;
        box-shadow: 0;
        background-color: transparent;
        opacity: 0.3;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
        &:focus,
        &:active {
            opacity: 1;
            outline: none;
        }
    }
}
</style>
