<template>
    <li class="todo-list-item">
        <div class="todo-list-item__checkbox">
            <input
                class="todo-list-item__input"
                type="checkbox"
                v-bind:id="'checkbox_'+ id"
                v-model="todo.done"
                @change="$emit('update')"
            />
            <label class="todo-list-item__label" v-bind:for="'checkbox_'+ id">{{ todo.title }}</label>
        </div>

        <template v-if="todo.time">
            <Timer class="todo-list-item__timer" :time-out="todo.time"></Timer>
        </template>

        <button class="todo-list-item__delete" @click="$emit('remove', id)">Удалить</button>
    </li>
</template>

<script>
import Timer from "./Timer";

export default {
    components: {
        Timer
    },
    props: {
        todo: {
            type: Object,
            required: true
        },
        id: {
            type: Number,
            required: true
        }
    }
};
</script>

<style lang="scss">
.todo-list-item {
    padding: 15px 50px 15px 25px;
    border-radius: 4px;
    border: 1px solid rgb(235, 234, 234);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.01);
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;

    &__input {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;
    }

    &__input:focus + &__label:before {
        border-color: #bbbbbb;
    }

    &__input[type="checkbox"]:checked + &__label:before {
        border-color: transparent;
        background-color: #bbbbbb;
    }

    &__input[type="checkbox"]:checked + &__label:after {
        display: block;
    }

    &__label {
        display: inline-block;
        position: relative;
        margin-bottom: 0;
        color: #494949;
        cursor: pointer;
        padding-left: 35px;

        &:before {
            content: "";
            position: absolute;
            left: 0px;
            top: -1px;
            width: 18px;
            height: 18px;
            border-radius: 3px;
            background-color: #fff;
            border: 1px solid rgb(240, 240, 240);
            transition: all 0.2s ease-in-out;
        }

        &:after {
            content: "";
            display: none;
            margin-top: -8px;
            pointer-events: none;
            position: absolute;
            left: 5px;
            top: 11px;
            transform-origin: 66% 66%;
            transform: rotate(45deg);
            width: 6px;
            height: 8px;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
        }
        &:hover {
            &:before {
                border-color: #eee;
            }
        }
    }

    &__delete {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        font-size: 0;
        width: 50px;
        height: 50px;
        border: 0;
        box-shadow: 0;
        background-color: transparent;
        opacity: 0.3;
        transition: opacity 0.2s ease;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }

        &:focus,
        &:active {
            opacity: 1;
            outline: none;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 24px;
            top: 17px;
            height: 15px;
            width: 2px;
            background-color: #333;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}
</style>
