<template>
    <form class="todo-list-form" @submit.prevent="sendForm">
        <h2 class="todo-list-form__title">Создать заметку</h2>
        <div class="todo-list-form__row">
            <div class="todo-list-form__col todo-list-form__col_two-thirds">
                <input class="todo-list-form__control control-input" placeholder="Название задачи" type="text" v-model.trim="titleTodo" required />
            </div>
            <div class="todo-list-form__col todo-list-form__col_one-third">
                <input class="todo-list-form__control control-input control-input_time" placeholder="Время в секундах" type="number" v-model.number="timeTodo" />
            </div>
        </div>
        <button class="todo-list-form__btn" :disabled="!titleTodo.length">Добавить</button>
    </form>
</template>

<script>
export default {
    data: function() {
        return {
            titleTodo: "",
            timeTodo: null
        };
    },
    methods: {
        sendForm() {
            if (this.titleTodo) {
                const title = this.titleTodo;
                const time = isNaN(this.timeTodo) ? 0 : Math.max(this.timeTodo, 0);

                this.$emit("create-todo", {
                    title,
                    time,
                    done: false
                });

                this.titleTodo = "";
                this.timeTodo = null;
            }
        }
    }
};
</script>

<style lang="scss">
.todo-list-form {
    font-family: sans-serif;
    &__title {
        margin-bottom: 20px;
    }
    &__control {
        margin-bottom: 15px;
    }
    &__btn {
        margin-top: 20px;
        display: inline-block;
        padding: 7px 15px;
        border: 1px solid transparent;
        background-color: rgb(59, 197, 101);
        color: #fff;
        border-radius: 4px;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.01);
        font-size: 14px;
        transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2 ease;
        cursor: pointer;
        &:disabled {
            background-color: rgb(243, 243, 243);
            border: 1px solid rgb(202, 200, 200);
            color: rgb(168, 164, 164);
        }
        &:hover:not(:disabled) {
            background-color: rgb(55, 185, 94);
        }
        &:focus:not(:disabled),
        &:active:not(:disabled) {
            background-color: rgb(42, 160, 78);
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.015);
            outline: none;
        }
    }
}

.control-input {
    padding: 7px 15px;
    border-radius: 3px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.01);
    border: 1px solid #eee;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

@media (min-width: 650px) {
    .todo-list-form {
        max-width: 600px;
        &__control {
            margin-bottom: 0px;
        }
        &__row {
            display: flex;
            margin: 0 -10px;
        }
        &__col {
            padding: 0 10px;
            &_one-third {
                width: calc(100% / 3);
            }
            &_two-thirds {
                width: calc(100% / 3 * 2);
            }
        }
    }
}
</style>
