<template>
    <div class="todo-list">
        <TodoListForm lass="todo-list__form" @create-todo="addTodo" />
        <ul class="todo-list__container" v-if="todos.length">
            <TodoListItem v-for="(todo, index) in todos" :key="index" :todo="todo" :id="index" @remove="removeTodo"></TodoListItem>
        </ul>
        <p class="todo-list__empty" v-else>Нет задач</p>
    </div>
</template>

<script>
import TodoListItem from "./TodoListItem";
import TodoListForm from "./TodoListForm";
import LocalStorage from "../LocalStorage";

import {TODOS_LOCALSTORAGE_KEY, TODOS_SYNC_FIELDS} from '../consts';

export default {
    components: {
        TodoListItem,
        TodoListForm
    },
    data: function() {
        return {
            todos: [],
            mounted: false
        };
    },
    mounted() {
        if (LocalStorage.isAvailable()) {
            this.todos = LocalStorage.getItem(TODOS_LOCALSTORAGE_KEY) || [];
        }
        this.mounted = true;
    },
    watch: {
        todos: {
            handler() {
                if (!this.mounted) {
                    return;
                }

                if (LocalStorage.isAvailable()) {
                    const syncTodos = this.todos.map((todo => {
                        const syncTodo = {};
                        for (let key of TODOS_SYNC_FIELDS) {
                            syncTodo[key] = todo[key];
                        }
                        return syncTodo;
                    }));

                    LocalStorage.setItem(TODOS_LOCALSTORAGE_KEY, syncTodos);
                }
            },
            deep: true
        }
    },
    methods: {
        addTodo(newTodo) {
            this.todos.push(newTodo);
        },
        removeTodo(idTodo) {
            this.todos.splice(idTodo, 1);
        }
    }
};
</script>

<style lang="scss">
.todo-list {
    font-family: sans-serif;
    padding: 0 20px;
    max-width: 500px;
    padding-top: 20px;
    &__empty {
        margin-top: 30px;
        font-size: 18px;
        color: rgb(77, 77, 77);
    }
    &__container {
        list-style-type: none;
        padding-left: 0;
        margin-top: 30px;
    }
}

@media (min-width: 650px) {
    .todo-list {
        max-width: 600px;
    }
}
</style>
